body {
    background-color: #e7eaf6;
}

header {
    padding-top: 80px;
}

header a {
    text-decoration: none;
    background-color: #e7eaf6;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 5px;
}

h2 {
    font-weight: 300;
    letter-spacing: 5px;
}

.hero {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(herbal.jpg);
    background-position: cover;
    color: #dbd8e3;
    height: 600px;
}