body {
    background-color: #e7eaf6;
}

header {
    padding-top: 80px;
}

header a {
    text-decoration: none;
    background-color: #e7eaf6;
    padding: 10px;
    margin: 10px;
    color: black;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 5px;
}

h2 {
    font-weight: 300;
    letter-spacing: 5px;
}

h5 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
}

p {
    font-size: 25px;
    letter-spacing: 3px;
}

footer {
    letter-spacing: 3px;
    background-color: #2C2A2A;
    color: #DBD8E3;
    padding: 10px;
}


.hero {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(herbal.jpg);
    background-position: cover;
    color: #dbd8e3;
    height: 600px;
}

.why {
    height: 500px;
    background-color: white;
    padding: 20px;
}

.where {
    height: 500px;
    text-align: center;
}